.card{
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
background-color: whitesmoke;
}
.card img{
	width: 70px;
	border-radius: 20px;
}
